
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改教室借用</title>
    
    <link rel="stylesheet" href="/static/assets/css/bootstrap.css">
    
<link rel="stylesheet" href="/static/assets/vendors/simple-datatables/style.css">

    <link rel="stylesheet" href="/static/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/static/assets/css/app.css">
    <link rel="shortcut icon" href="/static/assets/images/favicon.svg" type="image/x-icon">
</head>
<script language="javascript">
function checkDo(){

	if(form.sqh.value==""){
	alert("申请号不能为空");
	return false;
	form.sqh.focus();
	}
	if(form.bt.value==""){
	alert("标题不能为空");
	return false;
	form.bt.focus();
	}
	if(form.nr.value==""){
	alert("内容不能为空");
	return false;
	form.nr.focus();
	}
	if(form.js.value==""){
	alert("教室不能为空");
	return false;
	form.js.focus();
	}
	if(form.sqrq.value==""){
	alert("申请日期不能为空");
	return false;
	form.sqrq.focus();
	}
	if(form.sjd.value==""){
	alert("时间段不能为空");
	return false;
	form.sjd.focus();
	}
	if(form.sqsj.value==""){
	alert("申请时间不能为空");
	return false;
	form.sqsj.focus();
	}
	if(form.sqzt.value==""){
	alert("申请状态不能为空");
	return false;
	form.sqzt.focus();
	}
	if(form.yh.value==""){
	alert("用户不能为空");
	return false;
	form.yh.focus();
	}
	
	form.action="";
	form.submit();
	}
</script>
<body>
    <div id="app">
        <div id="sidebar" class='active'>
            <div class="sidebar-wrapper active">


   {% include "../menu.html" %}



    <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
</div>
        </div>
        <div id="main">
    {% include "../header.html" %}
            
<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>查看教室借用</h3>

            </div>

        </div>
    </div>
    <section class="section">
        <div class="card">


     
            <div class="card-content">
            <div class="card-body">
                <form class="form form-horizontal"   name="form" action="/jsjy/jsjylist" method="post">
                {% csrf_token %}


	

                <div class="form-body">
                    <div class="row">




			
                    <div class="col-md-1">
                        <label>申请号:</label>
                    </div>
                    <div class="col-md-11 form-group">
				{{ obj.sqh }}
                    </div>




			
                    <div class="col-md-1">
                        <label>标题:</label>
                    </div>
                    <div class="col-md-11 form-group">
				{{ obj.bt }}
                    </div>




			
                    <div class="col-md-1">
                        <label>内容:</label>
                    </div>
                    <div class="col-md-11 form-group">
				{{ obj.nr }}
                    </div>




			
                    <div class="col-md-1">
                        <label>教室:</label>
                    </div>
                    <div class="col-md-11 form-group">
				{{ obj.js }}
                    </div>




			
                    <div class="col-md-1">
                        <label>申请日期:</label>
                    </div>
                    <div class="col-md-11 form-group">
				{{ obj.sqrq }}
                    </div>




			
                    <div class="col-md-1">
                        <label>时间段:</label>
                    </div>
                    <div class="col-md-11 form-group">
				{{ obj.sjd }}
                    </div>




			
                    <div class="col-md-1">
                        <label>申请时间:</label>
                    </div>
                    <div class="col-md-11 form-group">
				{{ obj.sqsj }}
                    </div>




			
                    <div class="col-md-1">
                        <label>申请状态:</label>
                    </div>
                    <div class="col-md-11 form-group">
				{{ obj.sqzt }}
                    </div>




			
                    <div class="col-md-1">
                        <label>用户:</label>
                    </div>
                    <div class="col-md-11 form-group">
				{{ obj.yh }}
                    </div>


                  <input type="hidden" name="id" value="{{ obj.id }} ">

                    <div class="col-sm-12 d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary mr-1 mb-1"  >返回</button>
                      
                    </div>
                    </div>
                </div>
                </form>
		    {% if messages %}
    <script>
      {% for msg in messages %}
        alert('{{ msg.message }}');
      {% endfor %}
    </script>
  {% endif %}
            </div>
            </div>

        </div>

    </section>
</div>

        {% include "../footer.html" %}
        </div>
    </div>
    <script src="/static/assets/js/feather-icons/feather.min.js"></script>
    <script src="/static/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/static/assets/js/app.js"></script>
    
<script src="/static/assets/vendors/simple-datatables/simple-datatables.js"></script>
<script src="/static/assets/js/vendors.js"></script>

    <script src="/static/assets/js/main.js"></script>
</body>
</html>





