<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改教师</title>
    
    <link rel="stylesheet" href="/static/assets/css/bootstrap.css">
    
<link rel="stylesheet" href="/static/assets/vendors/simple-datatables/style.css">

    <link rel="stylesheet" href="/static/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/static/assets/css/app.css">
    <link rel="shortcut icon" href="/static/assets/images/favicon.svg" type="image/x-icon">
</head>
<script language="javascript">
function checkDo(){

	if(form.yhm.value==""){
	alert("用户名不能为空");
	return false;
	form.yhm.focus();
	}
	if(form.mm.value==""){
	alert("密码不能为空");
	return false;
	form.mm.focus();
	}
	if(form.xm.value==""){
	alert("姓名不能为空");
	return false;
	form.xm.focus();
	}
	if(form.lxdh.value==""){
	alert("联系电话不能为空");
	return false;
	form.lxdh.focus();
	}
	if(form.zc.value==""){
	alert("职称不能为空");
	return false;
	form.zc.focus();
	}
	
	form.action="";
	form.submit();
	}
</script>
<body>
    <div id="app">
        <div id="sidebar" class='active'>
            <div class="sidebar-wrapper active">


   {% include "../menu.html" %}



    <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
</div>
        </div>
        <div id="main">
    {% include "../header.html" %}
            
<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>修改教师</h3>

            </div>

        </div>
    </div>
    <section class="section">
        <div class="card">


            <div class="card-header">
            <h4 class="card-title">填写相关信息</h4>
            </div>
            <div class="card-content">
            <div class="card-body">
                <form class="form form-horizontal"   name="form" action="" method="post">
                {% csrf_token %}


	

                <div class="form-body">
                    <div class="row">




			
                    <div class="col-md-1">
                        <label>用户名:</label>
                    </div>
                    <div class="col-md-11 form-group">
                        <input type="text" class="form-control" name="yhm" id="yhm" required  placeholder="请输入用户名" value="{{ obj.yhm }}" required>
                    </div>




			
                    <div class="col-md-1">
                        <label>密码:</label>
                    </div>
                    <div class="col-md-11 form-group">
                        <input type="text" class="form-control" name="mm" id="mm" required  placeholder="请输入密码" value="{{ obj.mm }}" required>
                    </div>




			
                    <div class="col-md-1">
                        <label>姓名:</label>
                    </div>
                    <div class="col-md-11 form-group">
                        <input type="text" class="form-control" name="xm" id="xm" required  placeholder="请输入姓名" value="{{ obj.xm }}" required>
                    </div>




			
                    <div class="col-md-1">
                        <label>联系电话:</label>
                    </div>
                    <div class="col-md-11 form-group">
                        <input type="text" class="form-control" name="lxdh" id="lxdh" required  placeholder="请输入联系电话" value="{{ obj.lxdh }}" required>
                    </div>




			
                    <div class="col-md-1">
                        <label>职称:</label>
                    </div>
                    <div class="col-md-11 form-group">
                        <input type="text" class="form-control" name="zc" id="zc" required  placeholder="请输入职称" value="{{ obj.zc }}" required>
                    </div>


                  <input type="hidden" name="id" value="{{ obj.id }} ">

                    <div class="col-sm-12 d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary mr-1 mb-1">保存</button>
                        <button type="reset" class="btn btn-secondary mr-1 mb-1">重置</button>
                    </div>
                    </div>
                </div>
                </form>
		    {% if messages %}
    <script>
      {% for msg in messages %}
        alert('{{ msg.message }}');
      {% endfor %}
    </script>
  {% endif %}
            </div>
            </div>

        </div>

    </section>
</div>

        {% include "../footer.html" %}
        </div>
    </div>
    <script src="/static/assets/js/feather-icons/feather.min.js"></script>
    <script src="/static/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/static/assets/js/app.js"></script>
    
<script src="/static/assets/vendors/simple-datatables/simple-datatables.js"></script>
<script src="/static/assets/js/vendors.js"></script>

    <script src="/static/assets/js/main.js"></script>
</body>
</html>
















